.el-tabs--card>.el-tabs__header {
    border: none;
    margin: 0;
}
.el-menu {
    border: none;
}
.el-input.is-disabled .el-input__inner {
    background-color: #fff !important;
    color: #606266 !important;
}
.el-button{
    font-size: 20px;
}
.el-table__header-wrapper th{
    padding: 10px 0;
}
.el-table__row td{
    padding: 15px 0;
}
.el-table__row td .el-button{
    padding: 15px 10px;
}